@keyframes anima{
    0%{left:0px;top:0px;}
    25%{left:500px;top:0px;}
    50%{left:500px;top:500px;}
    75%{left:0px;top:500px;}
    100%{left:0px;top:500px;}
}

p{
    position:relative;
    left:0px;
    top: 0px;
    width:260px;
    height:260px;
    border: 1px solid #2E8B57;
    border-radius:10px;
    padding:10px;
    text-align:justify;
    animation-name:anima1,anima2,anima3,anima4;
    animation-duration:2s;
    animation-timing-function:linear;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-play-state:running;
    animation-direction:alternate;
}