p{
    width:300px;
    height:250px;
    border:1px solid red;
    border-radius:10px;
    padding:10px;
    text-align:justify;
    transition:background-color 15s,color 15s,transform 15s;
    transition-timing-function:linear;
    transition-delay:0s;
}

p:hover{
    background-color:blueviolet;
    color:aqua;
    transform:rotate(360deg);
}