body{
    margin:0px;
    padding:0px;
}

div{
    border:1px solid #9ACD32;
    background:#008000;
}

#d0{
    width:700px;
    height:500px;
    background: #008000;
    position:absolute;
    top:150px;
    left:300px;
}

#d1,#d2{
    width:300px;
    height:150px;
}

#d1{
    position:absolute;
    top:50px;
    left:50px;
    z-index:1;
}

#d2{
    position:absolute;
    top:50px;
    left:70px;
    z-index:2;
}