div{
    width:350px;
    height:150px ;
    border: 1px solid #40E0D0;
    white-space:normal ;
    overflow:auto ;
    word-break:normal ;
}

p{
    color:black;
    text-decoration:none ;
    text-transform:capitalize ;
    text-align: justify;
    text-indent:100px ;
    letter-spacing:2px ;
    line-height:1 ;
    direction:ltr ;
    word-spacing:5px ;
    text-align-last:left ;
}

.p1{

}

.p2{

}

.p3{

}

.p4{

}

a{
    text-decoration:none ;
}