header,section,nav,footer{
    display:flex;
    display:-webkit-flex;
    display:-moz-flex;
}

header{
    height:150px;
}

nav{
    justify-content:flex-end;
    background-color:#00FF00;
    flex-wrap:wrap;
}

nav a{
    width:150px;
    height:50px;
    min-width:150px;
    max-width:1550px;
    display:flex;
    align-items:center;
    justify-content:center;
}

section{
    flex-wrap:wrap;
    justify-content:center;
}

section div{
    border: 1px solid #00008B;
    flex:1;
    margin:5px;
    min-width:200px;
    max-width:200px;
    min-height:100px;
    max-height:100px;
}

footer{
    background:#4682B4;
    color:#FFf;
    align-items:center;
    justify-content:center;
}