body{
    margin:0px;
    padding:0px;
    overflow:hidden;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    display:inline-block;
}

p{
    font-size:10em;
}

#d1{
    border:1px solid blue;
    width:10ex;
    height:10ex;
}

#d2{
    border:1px solid yellow;
    width:10em;
    height:10em;
}