#obmenu{
    width: 100%;
    margin: 0px;
    padding:0px;

}

a{
    text-decoration:none;
    background-color:#0000FF ;
    color:#00BFFF ;
    padding:0px;
    margin:0px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:200px;
    height:40px;
    font-size:18px;
}

a:hover{
    background-color:#00FF00 ;
}