body{
    margin: 0px;
}

p{
    border: 1px solid #f00;
    margin: 0px;
    text-align: center;
}

div{
    border: 1px solid #000;
    margin: auto;
}

#dv1{
    width:300px ;
    height: 300px;
    margin-bottom:30px ;
}

#dv2{
    width:200px ;
    height: 200px;
}

