html{
    font-size:30px;
}

div{
    display:inline-block;
    width:300px;
}

#d1{
    border:1px solid yellow;
    height:1em;
}

#d2{
    border:1px solid blue;
    height:20px;
}

p{
    font-size:2em;/*tamanho da fonte do elemento pai x 2*/
}

#p3{
    font-size:20px;
    color:red;
}